


<div class="row">
    <div class="col-md-6 col-md-offset-3 well">            
            <select class="form-control" id="flavor">
                <option>Pick a Flavor</option>
                <option>Vanilla</option>
                <option>Chocolate</option>
                <option>Cookies and Cream</option>
                <option>Pistachio</option>
            </select>
            <br />
            <div class="form-check">
                <label>Low Fat</label>
                <input type="checkbox" id="lowfat" >
            </div>
        
            <button class="btn btn-primary" id="add">Add</button>  
            <h1 id="msg"></h1>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/index.js"></script>    
    }
