<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AjaxIceCream.Data.Properties.Settings.IceCreamOrdersConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=IceCreamOrders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>